pandas==2.3.3
numpy==2.4.4
scikit-learn==1.8.0
matplotlib==3.10.8
seaborn==0.13.2
plotly==6.8.0
statsmodels==0.14.6
prophet==1.3.0
xgboost==3.3.0
streamlit==1.58.0
mlflow==3.14.0
joblib
jupyter
nbformat
